.heading__primary{
    font-size: 7rem;
    font-weight: 700;
}

.heading__secondary{
    font-size: 4rem;
    font-weight: 600;
}

.heading__tertiary{
    font-size: 3rem;
}

.paragraph__primary{
    font-size: 2rem;
    font-weight: 600;
    color: var(--very-dark-cyan);
}

.paragraph__secondary{
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--very-dark-cyan);
}